{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Add New Property</h1>

<form method="post" enctype="multipart/form-data" action="{{ url_for('property') }}">

  {{form.csrf_token}}
  <div class="row">
    {{form.title.label}}
    {{form.title(class="form-control")}}  
  </div>
  <div class="row">
    {{form.description.label}}
    {{form.description(class="form-control")}}  
  </div>
  <div class="row" id="Rows">
        <div class="col">
            {{form.bedrooms.label}}
            {{form.bedrooms(class="form-control", id="Column1")}}  
        </div>
        <div class="col">
            {{form.bathrooms.label}}
            {{form.bathrooms(class="form-control", id="Column2")}}  
        </div>
  </div>
  <div class="row" id="Rows">
    <div class="col">
        {{form.price.label}}
        {{form.price(class="form-control", id="Column1")}}  
      </div>
      <div class="col">
        {{form.option.label}}
        {{form.option(class="form-control", id="Column2")}}  
      </div>
  </div>
  <div class="row" id="Rows">
    {{form.location.label}}
    {{form.location(class="form-control")}}  
  </div>
  <div class="row">
    {{form.photo.label}}
    {{form.photo(class="form-control")}} 
  </div>
  <div class="ButtonDiv" id="ButtonDiv"> 
    <button type="submit" name="submit" class="btn" id="btn1">Add Property</button>
  </div> 
</form>
{% endblock %}