{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Properties</h1>
{% include 'flash_messages.html' %}

<div class="Cards" id="PropList">
    {% for prop in props %}
    <div class="card" id="PropCard">
        <img class="Pics" id="Pics" src="{{ url_for('get_image', filename=prop[4])}}" />
        <div class="info" id="info">
            <h5 class="Title">{{prop[1]}}</h5>
            <h5 class="Location">{{prop[2]}}</h5>
            <h5 class="Price">{{"$" + prop[3]|string}}</h5>
        </div>
        <a class="btn" href="{{url_for('viewproperty', propertyid=prop[0])}}">View Property</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
