{% extends 'base.html' %}

{% block main%}
<h1 class="page-header" id="head">Properties</h1>
{% include 'flash_messages.html' %}


<div class="Cards" id="PropList">
    {% for prop in props %}
    <div class="card" id="PropCard">
        <div class="images" id="images">
            <img class="Pics" id="Pics" src="{{ url_for('get_image', filename=prop.photo)}}" />
        </div>
        <div class="info" id="info">
            <h5 class="Title">{{prop.title}}</h5>
            <div class="locations" id="locations">
                <img class="icon" id="icon" src="/uploads/locate.png">
                <p class="Location">{{prop.location}}</p>
            </div> 
            <h5 class="Price">{{"$" + '{:,.0f}'.format(prop.price)|string}}</h5>
        </div>
        <a class="btn" href="{{url_for('viewproperty', propertyid=prop.id)}}">View Property</a>
    </div>
    {% endfor %}
</div>
{% endblock %}
